.action__link {
    display: block;
    background-color: rgba(30, 84, 193, 1);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: fit-content;
    cursor: pointer;
}

.action__link p {
    color: white;
}

.filter select {
    /* height: 100px; */
}

.sort-filter {
    width: 50%;
}

.sort-filter_container {
    display: flex;
    align-items: center;
}

.sort-filter_container div {
    width: 50%;
}

.sort-filter_container select {
    height: 20px;
}

.controls_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.delete__button {
    background-color: brown;
    margin-left: 5px;
}

.edit-delete__block {
    display: flex;
    justify-content: space-between;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
}

.btn {
    padding: 8px 12px;
    margin-right: 5px;
    cursor: pointer;
}

.btn-warning {
    background-color: #ffcc00;
    color: white;
}

.btn-danger {
    background-color: #ff0000;
    color: white;
}

.btn-info {
    background-color: #0099cc;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    width: 500px;
}

.modal-footer button {
    padding: 10px 20px;
}
