.action__link {
    display: block;
    background-color: rgba(30, 84, 193, 1);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: fit-content;
    cursor: pointer;
}

.action__link p {
    color: white;
}

.contracts__content {
    width: 1200px;
    margin: 0 auto;
}

.contract__field {
    text-align: left;
}

.contract__field p {
    width: 90px;
}

.contract__controls {
    display: flex;
    align-items: center;
}

.expiring {
    background-color: #ffffcc;
    /* Желтый цвет */
}

.expired {
    background-color: #ffcccc;
    /* Красный цвет */
}

.warning-icon {
    color: red;
    margin-left: 5px;
    cursor: pointer;
}

.field-date_to {
    display: flex;
}
