.publ__creating {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

form>input,
select {
    width: 500px;
    height: 30px;
    margin: 10px 0;
}

.article_type {
    padding: 10px;
}

.authors {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: vertical;
}
