.publ__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.filters__btn {
    border: none;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    transition: right 0.3s ease;
    z-index: 999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.show-sidebar {
    right: 0;
}

.close-sidebar {
    position: relative;
    left: 10px;
    top: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.close-sidebar p {
    font-size: 35px;
}

.filter-group {
    margin-bottom: 15px;
    padding: 0 15px;
}

.filter-group__header {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-group input {
    margin-right: 5px;
}

.filter-group div {
    margin-bottom: 5px;
}

.filter-field {
    display: flex;
}
