.action__link-buttons {
    display: block;
    background-color: rgba(30, 84, 193, 1);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: fit-content;
    cursor: pointer;
}



.fpk__content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
}

.fpk__field {
    text-align: left;
    word-wrap: break-word;
}

.fpk__field p {
    width: 90px;
}

.action__link-buttons p {
    color: white;
    width: fit-content;
    font-size: 15px;
}

/* Уменьшение ширины ячейки для номера */
.fpk__field--narrow {
    width: 5%;
    text-align: center;
}

/* Чередующиеся строки */
.fpk__content tr.alt-row {
    background-color: #f2f2f2;
}


/* .fpk__controls {
    display: flex;
    align-items: center;
} */
